<div class="container">
  <div class="main-container">
    <h1>Polar Ice Levels</h1>
    <div class="p-container">
      <p>
        The Co2 we produce is absorbed and dissolved into the ocean, making it more acidic. The ocean is also suffering from deoxygenation, due to contamination and global warming, making it less habitable for marine organism.
        <br>
        The ocean modulates earth temperature. It takes up most of the excess heat that we humans produce, making it warmer, and as result, less able to absorb heat. Without the ocean temperature regulatory effect, the global average temperature would be around 50 degrees Celsius instead of 15.
      </p>
      <button mat-raised-button color="primary" (click)="return()" class="back-button">
        <mat-icon>
          arrow_circle_left
        </mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="stockChartOptions" class="charts-container">
    <canvasjs-stockchart [options]="stockChartOptions" [styles]="{width: '100%', height:'500px'}"></canvasjs-stockchart>
  </div>
</div>