<div class="header">
  <div class="container">
    <div class="header-img">
      <div class="world-img"></div>
    </div>
    <div class="header-content">
      <h1>Earth Pulse</h1>
      <div class="important-p">
        <p>Climate change is no longer a distant threat — it's happening now.</p>
      </div>
    </div>
  </div>
</div>

<div class="content-card">
  <div class="explain-p">
    <p>EarthPulse gives you a clear, data-driven view of our warming planet, helping you understand key indicators
      like
      CO₂, CH₄, NO₂, global temperature trends, and ocean warming.
      <br>
      Data Provided by <a target="_blank" href="https://global-warming.org/">GlobalWarming.org</a>
    </p>
  </div>
  <mat-icon>keyboard_double_arrow_down</mat-icon>
  <app-content></app-content>
</div>

  <app-footer></app-footer>