<div class="footer">
  <p>&copy;2025 Climate Dashboard </p>
  <p>Developed by <strong>Angela Rosace</strong> as a final project for <a target="_blank"
      href="https://www.start2impact.it/?utm_source=google&utm_medium=cpc&utm_campaign=Search_Brand&gad_source=1&gbraid=0AAAAAC8homeZqpRi4nwF7Ts4Kn4WzaqVm&gclid=Cj0KCQjw2tHABhCiARIsANZzDWqgTv-AP1UcS-nuiOCaQxVGzJins556mn49cP3srf-hO3DKcbRO1CMaAol4EALw_wcB">Start2Impact</a>
  </p>

  <div class="icon-footer">
    <a href="https://www.linkedin.com/in/angela-rosace-744925291/"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
    <a href="https://github.com/Giangy25"><fa-icon [icon]="faGitub"></fa-icon></a>
  </div>
</div>
